<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Bootstrap JS et dépendances (jQuery et Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <h2 class="mb-3">Bienvenue,dans l'app BusManagement :</h2>
    <form action="{% url 'login_user' %}" method="post">
        {% csrf_token %}
        <label for="username">Nom d'utilisateur:</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Mot de passe:</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Connexion</button>
    </form>
</body>
</html>
