{% extends 'BusManagement_App/Base.html' %}

{% block content %}
  <h2>{% if object %}Modifier{% else %}Ajouter{% endif %}</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sauvegarder</button>
  </form>
  <style>
    body {
        background-image: url('{% static "BusManagement_App/anaback.jpg" %}');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; /* This will make the image cover the entire viewport */
    }
    </style>
{% endblock %}
